/* Select all */

* {
	font-family: sans-serif;
}

/* Type selektor */

p {
	font-size: 16px;
}

/* Pseudo-klasse */

article:first-child {
	background-color: beige;
}

/* ID-selektor */

#midt-artikkel {
	background-color: antiquewhite;
}

/* Klasse-selektor */

.siste-artikkel {
	background-color: bisque;
}

/* Attributt-selektor */
