*/prøve på globale stilregler*/




*{ box-sizing: border-box;}


body { 
    
    font-family:'Gill Sans',Arial, sans-serif;
    background-color: #51433f;
    color: aqua;
}

a {
    text-decoration: none;
}


.box1 {
    background-color:cadetblue;
    opacity: .5;
    background-image:url("https://picsum.photos/200/300"); 
    background-size: contain;
    text-align: center; 
   
}



.box2 {
    background-color: #FF5733;
    text-transform: uppercase;
}

.box3 {
    background-color: rgb( 255,0,22);
    
}

h1 {
    color: hsl(15, 7%, 11%);
    font-size: 32px;
    font-weight:bold;
    text-align: center;
}

#line2 { 
    font-size: 4rem;
    text-transform: uppercase;
}

#line {
    line-height: 1.6;
    background-color: rgb(174, 174, 30); 
} 

#line3 {
    
    background-size:cover;
    text-decorationk:none;
}








    